<div class="container justify-content-center py-5">
  <div class="row">
    <div class="col">
      <div class="card mb-4" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/salon.jpg" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Quiénes somos | Sara's Meeting</h2>
              <p class="card-text">Nos levantamos todas las mañanas con la mejor energía para poder encontrar dentro de estas nuevas leyes la mejor manera de ofrecerles tranquilidad y un buen rato dentro de nuestro lugar.</p>
              <h3 class="card-text"><small class="text-muted">Pide domicilios por teléfono:  031 123-4567</small></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

